.header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to right, rgb(15, 15, 68), rgb(3, 7, 51));
    color: rgb(255, 255, 255);
}
.header .logo {
    margin-right: 2rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid currentColor;
}
.header .logo img {
}

.header .heading {
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: .5rem;
    letter-spacing: .8rem;
    text-shadow: 1px 1px 5px currentColor;
}
.header .text {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: .1rem;
}