
  body{
    font-family: 'Lato', sans-serif;
      ;
  }
div.foo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 5em;
    margin: 0.2em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
    cursor: pointer;
  }
  .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: #fff;
    text-shadow: .4rem .4rem .7rem rgb(134, 134, 134);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #fafafa;
    transform:
      rotateX(0deg)
      rotateY(-40deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }

  .search-container .text {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: .7rem;
  }

  .search-box{
      color:rgb(255, 255, 255);
      padding: 1rem;
      border: 1px solid white;
      background-color: rgba(197, 197, 197, 0);
      width: 50vw;
      margin-left:25%;
      font-size: 15px;
      font-style: italic;
      outline: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .search-container{
      border-bottom: 3px solid rgb(194, 201, 216);
      padding: 10px;
      box-shadow:5px solid red;
      border-radius: 10px;
      background-image: linear-gradient(to right, rgb(6, 6, 46), rgb(5, 6, 26));
  }


  

@media only screen and (max-width: 750px) {
    
}


  
@media only screen and (max-width: 500px) {
    .letter{
        font-size: 5em;
    
    }
    .search-box{
      margin-left: 15%;
      width: 70vw;
    }
}

@media only screen and (max-width: 300px) {
    .letter{
        font-size: 1em;
    
    }
}